/* Основные стили для всего тела документа */
body {
  margin: 0;
  /* Удаляем внешние отступы */
  padding: 0;
  /* Удаляем внутренние отступы */
  font-size: 18px;
  /* Устанавливаем размер шрифта */
  color: var(--tg-theme-text-color);
  /* Устанавливаем цвет текста */
  background-color: var(--tg-theme-bg-color);
  /* Устанавливаем цвет фона */
}

/* Стили для контейнера */
.container {
  max-width: 390px;
  /* Устанавливаем максимальную ширину контейнера */
}

/* Стили для элемента с классом 'inner' */
.inner {
  display: grid;
  /* Устанавливаем тип отображения на grid */
  grid-template-columns: 1fr 1fr;
  /* Создаем две колонки одинаковой ширины */
  grid-template-rows: 230px 230px 230px;
  /* Создаем три строки высотой в 230px каждая */
}

/* Стили для изображений */
.img {
  width: 150px;
  /* Устанавливаем ширину изображений */
}

/* Стили для элемента с классом 'item' */
.item {
  text-align: center;
  /* Центрируем текст */
}

/* Стили для кнопок */
.btn {
  display: inline-block;
  /* Устанавливаем тип отображения на inline-block */
  padding: 5px 20px;
  /* Устанавливаем внутренние отступы */
  border: none;
  /* Удаляем рамку */
  background: rgb(248, 168, 24);
  /* Устанавливаем цвет фона */
  border-radius: 10px;
  /* Устанавливаем радиус скругления углов */
  color: #fff;
  /* Устанавливаем цвет текста */
  text-transform: uppercase;
  /* Преобразуем текст в верхний регистр */
  font-weight: 700;
  /* Устанавливаем жирность шрифта */
  align-items: center;
  /* Центрируем текст по вертикали */

  transition: background .2s linear;
  /* Добавляем анимацию изменения фона */
}

/* Стили для кнопок при наведении */
.btn:hover {
  background: lightgreen;
  /* Изменяем цвет фона */
}

/* Стили для тегов */
.tags {
  display: flex;
  /* Устанавливаем тип отображения на flex */
  justify-content: center;
  /* Центрируем теги по горизонтали */
  align-items: center;
  /* Центрируем теги по вертикали */
}

/* Стили для ссылок тегов */
.tags a {
  display: inline-block;
  /* Устанавливаем тип отображения на inline-block */
  padding: 10px;
  /* Устанавливаем внутренние отступы */
  margin: 0 10px;
  /* Устанавливаем внешние отступы */
  background-color: #ccc;
  /* Устанавливаем цвет фона */
  color: #fff;
  /* Устанавливаем цвет текста */
  text-decoration: none;
  /* Удаляем подчеркивание у ссылок */
}

/* Стили для ссылок тегов при наведении */
.tags a:hover {
  background-color: #333;
  /* Изменяем цвет фона */
}

/* Стили для активной кнопки фильтра */
.filter-btn.active {
  background-color: lightgreen;
  /* Изменяем цвет фона */
}



/* Cart */

#cart-items .cart-product {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#cart-items .cart-product img {
  width: 80px;
}

#cart-items .cart-product .product-title {
  display: flex;
  flex-direction: column;

}

#cart-items .cart-product .product-title h4,
#cart-items .cart-product .product-title p {
  margin: 5px 0;
}

#checkout-form {
  display: flex;
  flex-direction: column;
}

.cart-container {
  width: 400px;
}

.cart-container input {
  margin: 5px 0;
}

.quantity-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.addToCart {
  margin-top: 20px;
  width: 80%;
  height: 25px;

}

.quantity-container button {
  width: 50px;
  height: 25px;
}


@media(max-width:430px) {
  .cart-container {
    width: 95%;
  }

  .item span {
    display: block;
  }

  .img {
    width: 130px;
  }


  .quantity-container button {
    width: 50px;
    height: 20px;
  }

  #go-to-cart {
    font-size: 12px;
  }
}


/* Form */
.checkout-form {
    width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    margin: auto;
}

.checkout-form label {
    display: block;
    margin-bottom: 5px;
}

.checkout-form input[type="text"], #checkout-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.checkout-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(248, 168, 24);
    cursor: pointer;
}

.checkout-form input[type="submit"]:hover {
    opacity: 0.8;
}