:root {
  --display-width: 380px;
}

/* Основные стили для всего тела документа */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  /* Удаляем внешние отступы */
  padding: 0;
  /* Удаляем внутренние отступы */
  font-size: 18px;
  /* Устанавливаем размер шрифта */
  color: var(--tg-theme-text-color);
  /* Устанавливаем цвет текста */
  background-color: var(--tg-theme-bg-color);
  /* Устанавливаем цвет фона */
}

a,
h1,
h2,
h3,
h4,
p,
span,
label,
input,
button {
  font-family: "Roboto", sans-serif !important;
}

/* Стили для контейнера */
.btns_container,
.container {
  max-width: var(--display-width);
  /* Устанавливаем максимальную ширину контейнера */
}

.btns_container {
  display: flex;
  align-items: center;
}

/* Стили для элемента с классом 'inner' */
.inner {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  max-height: 600px;
  overflow-y: scroll;
  /* Создаем три строки высотой в 230px каждая */
}

.inner .item {
  width: 50%;
}

/* Стили для изображений */
.img {
  width: 150px;
  /* Устанавливаем ширину изображений */
}

/* Стили для элемента с классом 'item' */
.item {
  text-align: center;
  /* Центрируем текст */
}

/* Стили для кнопок */
.btn {
  display: inline-block;
  /* Устанавливаем тип отображения на inline-block */
  padding: 5px 20px;
  /* Устанавливаем внутренние отступы */
  border: none;
  /* Удаляем рамку */
  background: #a083df;
  /* Устанавливаем цвет фона */
  border-radius: 10px;
  /* Устанавливаем радиус скругления углов */
  color: #fff;
  /* Устанавливаем цвет текста */
  text-transform: uppercase;
  /* Преобразуем текст в верхний регистр */
  font-weight: 700;
  /* Устанавливаем жирность шрифта */
  align-items: center;
  /* Центрируем текст по вертикали */

  transition: background 0.2s linear;
  /* Добавляем анимацию изменения фона */
}

/* Стили для кнопок при наведении */
.btn:hover {
  background: lightgreen;
  /* Изменяем цвет фона */
}

/* Стили для тегов */
.tags {
  display: flex;
  /* Устанавливаем тип отображения на flex */
  justify-content: center;
  /* Центрируем теги по горизонтали */
  align-items: center;
  /* Центрируем теги по вертикали */
}

/* Стили для ссылок тегов */
.tags a {
  display: inline-block;
  /* Устанавливаем тип отображения на inline-block */
  padding: 10px;
  /* Устанавливаем внутренние отступы */
  margin: 0 10px;
  /* Устанавливаем внешние отступы */
  background-color: #ccc;
  /* Устанавливаем цвет фона */
  color: #fff;
  /* Устанавливаем цвет текста */
  text-decoration: none;
  /* Удаляем подчеркивание у ссылок */
}

/* Стили для ссылок тегов при наведении */
.tags a:hover {
  background-color: #333;
  /* Изменяем цвет фона */
}

/* Стили для активной кнопки фильтра */
.filter-btn.active {
  background-color: lightgreen;
  /* Изменяем цвет фона */
}
/* Стили для кнопки корзины */
.submit_cart,
#go-to-cart {
  width: calc(var(--display-width) - 41px);
  text-align: center;
  margin-top: 20px;
  padding: 10px 20px;
  /* Устанавливаем внутренние отступы */
  border: none;
  /* Удаляем рамку */
  background-color: #a083df;
  /* Устанавливаем цвет фона */
  border-radius: 10px;
  /* Устанавливаем радиус скругления углов */
  color: #fff;
  /* Устанавливаем цвет текста */
  text-transform: uppercase;
  /* Преобразуем текст в верхний регистр */
  font-weight: 700;
  /* Устанавливаем жирность шрифта */
  transition: background 0.2s linear;
  cursor: pointer;
  text-decoration: none;
  /* Добавляем анимацию изменения фона */
}
.submit_cart {
  padding: 7px !important;
  font-size: 16px;
}

.product {
  width: 200px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 20px auto;
  text-align: center;
}

.add-to-cart {
  display: inline-block;
  /* Устанавливаем тип отображения на inline-block */
  padding: 5px 20px;
  /* Устанавливаем внутренние отступы */
  border: none;
  /* Удаляем рамку */
  background: #a083df;
  /* Устанавливаем цвет фона */
  border-radius: 10px;
  /* Устанавливаем радиус скругления углов */
  color: #fff;
  /* Устанавливаем цвет текста */
  text-transform: uppercase;
  /* Преобразуем текст в верхний регистр */
  font-weight: 700;
  /* Устанавливаем жирность шрифта */
  align-items: center;
  /* Центрируем текст по вертикали */

  transition: background 0.2s linear;
}

.add-to-cart:hover {
  background: lightgreen;
}

.item-counter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}

.item-counter button {
  padding: 5px 10px;
  color: white;
  background-color: #a083df;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item-counter button:hover {
  background-color: #1e7e34;
}

/* Cart */
.name_price {
  display: flex;
  flex-direction: column;
}

#cart-items {
  max-height: 600px;
  overflow-y: scroll;
  width: var(--display-width);
  margin-right: 20px;
}

#cart-items .cart-product {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#cart-items .cart-product img {
  width: 80px;
}

#cart-items .cart-product .product-title {
  display: flex;
  flex-direction: column;
  max-width: 120px;
  width: 120px;
}

#cart-items .cart-product .product-title h4,
#cart-items .cart-product .product-title p {
  margin: 5px 0;
}

#checkout-form {
  display: flex;
  flex-direction: column;
  padding-bottom: 300px;
}

#checkout-form input {
  display: block;
  width: var(--display-width);
  padding: 5px;
  box-sizing: border-box;
}

.cart-container input {
  margin: 5px 0;
}

.quantity-container {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.addToCart {
  margin-top: 20px;
  width: 80%;
  height: 25px;
  margin-bottom: 20px;
}

.deleteBtn {
  background-color: transparent;
  padding: 12px 17px;
  border: none;
  cursor: pointer;
}

.count{
  width: 35px;
  max-width: 50px;
}

#img_delete {
  width: 15px !important;
}

.quantity-container button {
  width: 50px;
  height: 25px;
}

@media (max-width: 430px) {
  .cart-container {
    width: 95%;
    margin: auto;
  }

  .item span {
    display: block;
  }

  .img {
    width: 130px;
  }

  .quantity-container button {
    width: 50px;
    height: 20px;
  }
}

@media (max-width: 390px) {
  .container {
    width: 100%;
  }

  #go-to-cart {
    width: auto;
  }
}

@media (max-height: 720px) {
  .inner {
    max-height: 80vh;
  }
}

@media (max-height: 630px) {
  .inner {
    max-height: 77vh;
  }
}

.telegram-button {
  display: inline-block;
  /* Устанавливаем тип отображения на inline-block */
  padding: 5px 20px;
  /* Устанавливаем внутренние отступы */
  border: none;
  /* Удаляем рамку */
  background: #a083df;
  /* Устанавливаем цвет фона */
  border-radius: 10px;
  /* Устанавливаем радиус скругления углов */
  color: #fff;
  /* Устанавливаем цвет текста */
  text-transform: uppercase;
  /* Преобразуем текст в верхний регистр */
  font-weight: 700;
  /* Устанавливаем жирность шрифта */
  align-items: center;
  /* Центрируем текст по вертикали */

  transition: background 0.2s linear;
  /* Добавляем анимацию изменения фона */
}

/* Стили для кнопок при наведении */
.telegram-button:hover {
  background: lightgreen;
  /* Изменяем цвет фона */
}

#back-button {
  display: inline-block;
  margin: 10px;
  padding: 15px 20px; /* Увеличенные отступы для большего размера кнопки */
  background: #a083df;
  border-radius: 10px;
  color: #fff;
  font-weight: 700;
  text-align: center; /* Центрируем текст в кнопке */
  transition: background 0.2s linear;
  text-decoration: none;
}

#back-button:hover {
  background: lightgreen;
}
