body {
	margin: 0;
	padding: 0;
	font-size: 18px;
	color: var(--tg-theme-text-color);
	background-color: var(--tg-theme-bg-color);
}

.container {
	max-width: 390px;
}


.inner {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 230px 230px 230px;
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 5px 20px;
	border: none;
	background: rgb(248, 168, 24);
	border-radius: 10px;
	color: #fff;
	text-transform: uppercase;
	font-weight: 700;
	align-items: center;

	transition: background .2s linear;
}

.btn:hover {
	background: lightgreen;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tags a {
  display: inline-block;
  padding: 10px;
  margin: 0 10px;
  background-color: #ccc;
  color: #fff;
  text-decoration: none;
}

.tags a:hover {
  background-color: #333;
} 

.filter-btn.active {
  background-color: lightgreen;
}



/*
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/
